<nav class="navbar navbar-expand navbar-dark bg-dark">

  <div class="container">

    <a class="navbar-brand" routerLink="/home">
      Online Pizza Shop
    </a>

    <ul class="nav" routerLinkActive="active">

      <li class="nav-item">
        <!--    Cart, LogIn, LogOut :?Search    -->
      </li>

    </ul>

  </div>

</nav>
