input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 2px solid greenyellow;
}

select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

select.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 2px solid greenyellow;
}
