<div class="container">

  <h3 class="text-center">Create New Pizza</h3>

  <form [formGroup]="pizzaFormGroup">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputName">
            Name
          </label>
          <input class="form-control" formControlName="name" id="inputName" type="text" placeholder="Enter Pizza Name">
          <div *ngIf="nameFormControl.invalid && (nameFormControl.dirty || nameFormControl.touched)"
               class="alert alert-danger">
            <div *ngIf="nameFormControl.errors.required">
              Name is required!
            </div>
            <div *ngIf="nameFormControl.errors.minlength">
              Name must be at least 3 characters long!
            </div>
            <div *ngIf="nameFormControl.errors.pattern">
              Name can contain only letters!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputSize">
            Size
          </label>
          <input class="form-control" formControlName="size" id="inputSize" type="text" placeholder="Enter Pizza Size">
          <div *ngIf="sizeFormControl.invalid && (sizeFormControl.dirty || sizeFormControl.touched)"
               class="alert alert-danger">
            <div *ngIf="sizeFormControl.errors.required">
              Size is required!
            </div>
            <div *ngIf="sizeFormControl.errors.minlength">
              Size must be at least 3 characters long!
            </div>
            <div *ngIf="sizeFormControl.errors.pattern">
              Size can contain only letters!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputPrice">
            Price
          </label>
          <input class="form-control" formControlName="price" id="inputPrice" type="number" step="0.10" min="0.10"
                 placeholder="Pizza Price (7.00)">
          <div *ngIf="priceFormControl.invalid && (
          priceFormControl.dirty || priceFormControl.touched)" class="alert alert-danger">
            <div *ngIf="priceFormControl.errors.required">
              Price is required!
            </div>
            <div *ngIf="priceFormControl.errors.min">
              Price must be positive number, minimum 0.1!
            </div>
            <div *ngIf="priceFormControl.errors.pattern">
              Price must be decimal number, separated with dot and maximum of 2 digits after dot!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputDescription">
            Description
          </label>
          <textarea class="form-control" id="inputDescription" type="text" formControlName="description" rows="2"
                    placeholder="Enter Detail Pizza Description">
          </textarea>
          <div
            *ngIf="descriptionFormControl.invalid && (descriptionFormControl.dirty || descriptionFormControl.touched)"
            class="alert alert-danger">
            <div *ngIf="descriptionFormControl.errors.required">
              Description is required!
            </div>
            <div *ngIf="descriptionFormControl.errors.minlength">
              Description must be at least 3 characters long!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col" formArrayName="assignedGroceries">

        <h5>Groceries</h5>

        <div class="row mb-2">
          <div class="col">
            <button (click)="onAddGrocery()" class="btn btn-outline-success" type="button">
              + Add Grocery
            </button>
          </div>
        </div>

        <div *ngIf="(groceriesFormArray.dirty || groceriesFormArray.touched) && groceriesFormArray.errors?.required"
             class="alert alert-danger">
          Groceries is required!
        </div>

        <div class="row mb-2" *ngFor="let groceryControl of groceriesFormArray.controls; index as controlIndex"
             [formGroupName]="controlIndex">
          <div class="col-6">
            <select class="form-control" formControlName="name" (change)="onChangeGrocery(controlIndex)">
              <option value="" [disabled]=true [selected]=true [hidden]=true>Select grocery ...</option>
              <option *ngFor="let grocery of groceriesForSelect[controlIndex]">
                {{grocery}}
              </option>
            </select>
            <div
              *ngIf="groceriesFormArray.controls[controlIndex].get('name').invalid &&
               (groceriesFormArray.controls[controlIndex].get('name').dirty || groceriesFormArray.controls[controlIndex].get('name').touched)"
              class="alert alert-danger">
              <div *ngIf="groceriesFormArray.controls[controlIndex].get('name').errors.required">
                Name is required!
              </div>
              <div *ngIf="groceriesFormArray.controls[controlIndex].get('name').errors.minlength">
                Name must be at least 3 characters long!
              </div>
              <div *ngIf="groceriesFormArray.controls[controlIndex].get('name').errors.pattern">
                Name can contain only letters!
              </div>
            </div>
          </div>
          <div class="col-4">
            <input class="form-control" formControlName="amountUsed" type="number" placeholder="Amount Used"
                   step="0.001">
            <div
              *ngIf="groceriesFormArray.controls[controlIndex].get('amountUsed').invalid && (groceriesFormArray.controls[controlIndex].get('amountUsed').dirty || groceriesFormArray.controls[controlIndex].get('amountUsed').touched)"
              class="alert alert-danger">
              <div *ngIf="groceriesFormArray.controls[controlIndex].get('amountUsed').errors.required">
                Amount is required!
              </div>
              <div *ngIf="groceriesFormArray.controls[controlIndex].get('amountUsed').errors.min">
                Amount must be positive number, minimum 0.01!
              </div>
              <div *ngIf="groceriesFormArray.controls[controlIndex].get('amountUsed').errors.pattern">
                Amount must be decimal number, separated with dot and maximum three digits after dot!
              </div>
            </div>
          </div>
          <div class="col-2">
            <button type="button" class="btn btn-outline-danger" (click)="deleteGrocery(controlIndex)">
              X Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="groceriesIsLoaded && (allGroceries.length < 1 || lastChanged.length === allGroceries.length)"
         class="alert alert-warning">
      There is no more groceries on stock!
      <a routerLink="../../groceries/add" class="btn btn-sm btn-primary float-right">
        Add New Grocery
      </a>
    </div>
    <hr>

    <div class="text-center">
      <button class="btn btn-success" type="submit" (click)="onSubmit()">
        Create New Pizza
      </button>
      <a class="btn btn-primary float-right" type="button" routerLink="../">
        <- Back
      </a>
    </div>
  </form>

</div>
