<div class="container">

  <h3 class="text-center">Edit Grocery</h3>

  <form [formGroup]="groceryFormGroup">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputName">
            Name
          </label>
          <input class="form-control" formControlName="name" id="inputName" type="text"
                 placeholder="Enter Grocery Name">
          <div *ngIf="nameFormControl.invalid && (nameFormControl.dirty || nameFormControl.touched)"
               class="alert alert-danger">
            <div *ngIf="nameFormControl.errors.required">
              Name is required!
            </div>
            <div *ngIf="nameFormControl.errors.minlength">
              Name must be at least 3 characters long!
            </div>
            <div *ngIf="nameFormControl.errors.pattern">
              Name can contain only letters!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputPrice">
            Price
          </label>
          <input class="form-control" formControlName="price" id="inputPrice" type="number" step="0.1" min="0.1"
                 placeholder="Enter Grocery Price">
          <div *ngIf="priceFormControl.invalid && (priceFormControl.dirty || priceFormControl.touched)"
               class="alert alert-danger">
            <div *ngIf="priceFormControl.errors.required">
              Price is required!
            </div>
            <div *ngIf="priceFormControl.errors.min">
              Price must be positive number, minimum 0.1!
            </div>
            <div *ngIf="priceFormControl.errors.pattern">
              Price must be decimal number, separated with dot and maximum two digits after dot!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputUnitsOnStock">
            Units on Stock
          </label>
          <input class="form-control" formControlName="unitsOnStock" id="inputUnitsOnStock" type="number" step="0.1"
                 min="0.1"
                 placeholder="Enter Grocery Units on Stock">
          <div
            *ngIf="unitsOnStockFormControl.invalid && (unitsOnStockFormControl.dirty || unitsOnStockFormControl.touched)"
            class="alert alert-danger">
            <div *ngIf="unitsOnStockFormControl.errors.required">
              Price is required!
            </div>
            <div *ngIf="unitsOnStockFormControl.errors.min">
              Price must be positive number, minimum 0.1!
            </div>
            <div *ngIf="unitsOnStockFormControl.errors.pattern">
              Price must be decimal number, separated with dot and maximum three digits after dot!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button (click)="onSubmit()" type="submit" class="btn btn-warning text-white">
        Edit Grocery
      </button>
      <a routerLink="../../" type="button" class="btn btn-primary float-right">
        <- Back
      </a>
    </div>


  </form>

</div>
