<div class="container">

  <div class="nav-item">
    <a type="button" routerLink="add" class="btn btn-primary">
      Add New Grocery
    </a>
  </div>

  <div class="table-responsive">
    <h3 class="text-center">List of Groceries</h3>

    <table class="table table-striped table-hover border-bottom">
      <thead class="thead-dark">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Units on Stock</th>
      <th scope="col">Action</th>
      </thead>
      <tbody>
      <tr *ngFor="let grocery of groceries; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{grocery.name}}</td>
        <td>{{grocery.price | currency}}</td>
        <td>{{grocery.unitsOnStock | number}}</td>
        <td>
          <button class="btn btn-outline-danger btn-sm mr-2" (click)="onDelete(grocery)">
            Delete
          </button>
          <a [routerLink]="['edit', grocery.id]" class="btn btn-outline-warning btn-sm" type="button">
            Edit
          </a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

