<app-header></app-header>

<app-toast aria-live="polite" aria-atomic="true"></app-toast>

<div class="container-fluid">

  <div class="row">

    <div class="col-3 pt-3 bg-light min-vh-100">
      <div class="col">
        <div class="btn-group-vertical btn-block">
          <a class="btn btn-outline-primary btn-lg mb-3" routerLink="/pizzas" type="button" routerLinkActive="active">
            Pizzas
          </a>
          <a class="btn btn-outline-primary btn-lg mb-3" routerLink="/groceries" type="button"
             routerLinkActive="active">
            Groceries
          </a>
        </div>
      </div>
    </div>

    <div class="col-9 px-0">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
