<div class="container">

  <h3 class="text-center">Edit Pizza</h3>

  <form [formGroup]="pizzaFormGroup">

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputName">
            Name
          </label>
          <input class="form-control" formControlName="name" id="inputName" type="text" placeholder="Enter Pizza Name">
          <div *ngIf="nameFormControl.invalid && (nameFormControl.dirty || nameFormControl.touched)"
               class="alert alert-danger">
            <div *ngIf="nameFormControl.errors.required">
              Name is required!
            </div>
            <div *ngIf="nameFormControl.errors.minlength">
              Name must be at least 3 characters long!
            </div>
            <div *ngIf="nameFormControl.errors.pattern">
              Name can contain only letters!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputSize">
            Size
          </label>
          <input class="form-control" formControlName="size" id="inputSize" type="text" placeholder="Enter Pizza Size">
          <div *ngIf="sizeFormControl.invalid && (sizeFormControl.dirty || sizeFormControl.touched)"
               class="alert alert-danger">
            <div *ngIf="sizeFormControl.errors.required">
              Size is required!
            </div>
            <div *ngIf="sizeFormControl.errors.minlength">
              Size must be at least 3 characters long!
            </div>
            <div *ngIf="sizeFormControl.errors.pattern">
              Size can contain only letters!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputPrice">
            Price
          </label>
          <input class="form-control" formControlName="price" id="inputPrice" type="number" step="0.10" min="0.10"
                 placeholder="Pizza Price (7.00)">
          <div *ngIf="priceFormControl.invalid && (
          priceFormControl.dirty || priceFormControl.touched)" class="alert alert-danger">
            <div *ngIf="priceFormControl.errors.required">
              Price is required!
            </div>
            <div *ngIf="priceFormControl.errors.min">
              Price must be positive number, minimum 0.1!
            </div>
            <div *ngIf="priceFormControl.errors.pattern">
              Price must be decimal number, separated with dot and maximum of 2 digits after dot!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputDescription">
            Description
          </label>
          <textarea class="form-control" id="inputDescription" type="text" formControlName="description" rows="2"
                    placeholder="Enter Detail Pizza Description"></textarea>
          <div
            *ngIf="descriptionFormControl.invalid && (descriptionFormControl.dirty || descriptionFormControl.touched)"
            class="alert alert-danger">
            <div *ngIf="descriptionFormControl.errors.required">
              Description is required!
            </div>
            <div *ngIf="descriptionFormControl.errors.minlength">
              Description must be at least 3 characters long!
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-warning text-white" type="submit" (click)="onSubmit()">
        Edit Pizza
      </button>
      <a class="btn btn-primary float-right" type="button" routerLink="../../">
        <- Back
      </a>
    </div>
  </form>

</div>
