<div class="container">

  <div class="navbar">
    <div class="nav-item">
      <a class="btn btn-primary" routerLink="add" type="button">
        Add New Pizza
      </a>
    </div>
  </div>

  <div class="table-responsive">
    <h3 class="text-center">List of Pizzas</h3>

    <table class="table table-striped table-hover border-bottom ">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let singlePizza of allPizzas; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ singlePizza.name }}</td>
        <td>{{ singlePizza.size }}</td>
        <td>{{ singlePizza.price | number }}</td>
        <td>{{ singlePizza.description }}</td>
        <td>
          <button type="button" (click)="onDelete(singlePizza)"
                  class="btn btn-sm btn-outline-danger mr-2">
            Delete
          </button>

          <a type="button" [routerLink]="['edit', singlePizza.id]"
             class="btn btn-sm btn-outline-warning">
            Edit
          </a>

        </td>
      </tr>
      </tbody>
    </table>

  </div>

</div>
